<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Pixit</title>
    <meta name="description" content="Pixit">
    <meta name="author" content="Phil Miller">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>

<body>
<!--<script src="js/scripts.js"></script>-->
<h1>Pixit</h1>
<form method="post">
    <div>Start a game: <input type="submit" value="Start"></div>
</form>
</body>
</html>